/*
COLORS

dark green: #003333
mid green: #2bb672
light green: #a7d5bf

dark blue: #006e99
mid blue: #27aae1
light blue: #b3cdd7

white: #ffffff;
black: #000;

*/

@font-face {
	font-family: "champagne";
	src: url(../fonts/champagnelimousines.ttf);
}

@font-face {
  font-family: "segoe";
  src: url(../fonts/segoeui.ttf);
}

h1, h2, h3 {
  font-family: "champagne";
  text-transform: uppercase;
}

h6, p {
  font-family: "segoe";
  font-size: 1.4em;
  color: #ffffff;
}

/* nav upper and lower styling */

nav {
  background: #003333;
	position: fixed;
	top: 0;
	z-index: 9999;
  border-bottom: 8px solid #a7d5bf;
}

nav, .nav_lower {
  width: 100%;
  height: auto;
  padding: 10px 0;
  display: flex;
}

.nav_lower {
  background: #ffffff;
}

.nav_lower h3 {
  color: #27aae1;
}

nav ul, .nav_lower ul, .nav_lower h3 {
  width: 100%;
  height: auto;
  margin: auto;
}

li {
  display: inline;
  width: 100%;
}

/*
.nav_lower ul, .nav_lower ul li {
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav_lower ul li {
  width: calc(100% / 4);
  text-align: center;
  margin: auto;
}
*/

a{
  color: #fff;
  font-size: 1.4em;
  text-decoration: none;
}

a:hover {
  color: #a7d5bf;
  opacity: 0.7;
}

a:visited {
  color: #2bb672;
}

.social {
  padding: 0 3px;  
}

.social li img {
  display: inline-block;
  text-align: left;
  float: left;
  max-width: 50px;
  padding: 0 3px;
}

.contact_btn {
  margin: 0 auto;
  text-align: center;
  clear: both;
  float: right;
}

.contact_btn img {
  width: 95%;
}

.sister {
  text-align: right;
  float: right;
}

.sister p {
  display: inline;
  vertical-align: top;
  font-size: 1em;
}

.sister img {
  width: 35%;
  padding-right: 20px;
}

/* header styling */
header img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  clear: both;
  z-index: -1;
}

#hero {
  border-bottom: 8px solid #a7d5bf;
}

.striped_border img {
  padding: 0;
  margin: -10px 0 0 0;
  width: 100%;
  border: 8px solid #a7d5bf;
}

.logo {
  padding: 0;
  width: 50%;
  margin: -200px auto 0 auto;
  z-index: 9000;
}

.logo img {
  padding: 0;
  width: 95%;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  border: 8px solid #a7d5bf;
  background-color: #ffffff;
}

/* call to action graphic */
.create {
  padding: 0;
  width: 16%;
  position: absolute;
  margin: -500px auto;
  right: 100px;
  z-index: 8999;
  transition: width 0.5s ease-in-out,
  opacity 0.5s ease-in-out;
}

.create:hover {
  width: 18%;
}

@keyframes width {
  0% {
    width: 16%;
  }
  100% {
    width: 20%;
  }
}

/* main section styling */
main {
  background-color: #003333;
  margin-bottom: 40px;
}

/* cards below lower nav */
.cards {
  display: flex;
  width: 100%;
  color: #ffffff;
  padding: 30px 0;
}

.card {
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    float: none;
    width: calc(100% / 4);
    margin: 20px auto;
}

.card img {
    width: 50%;
    text-align: center;
    margin: auto;
}

.card:last-child {
    margin-right: 0;
}

.card_content {
    padding: 20px;
}

/* footer styling */

footer {
  background-color: #27aae1;
  color: #ffffff;
  margin-top: -40px;
  padding: 0;
  height: auto;
}

footer h6 {
  font-size: 1.1em;
  line-height: 0.8em;
  padding:0;
}

footer p {
  font-size: 0.9em;
}







/*------------------------------------*\
    #GRID-SETTINGS COULDNT GET THIS TO WORK, JUST HAVE IT HERE FOR NOW - WILL DELETE LATER
\*------------------------------------*/

/*
.page {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "social contact_btn contact_btn sister"
    "header header header header"
    "main1 main2 main3 main4"
    "footer footer footer footer";
  height: 100vh;
}

.social {
  grid-area: social;
}

.contact_btn {
  grid-area: contact_btn;
}

.sister {
  grid-area: sister;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
*/
